<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" media="all"  
      href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
    <style>
     body{
font-family: 'Comfortaa';
text-align: center;
}
form{
display: inline-block;
margin-left: auto;
margin-right: auto;
}
div{
text-align: center;
}
input{
width: 100%;
padding: 8px;
border: 2px solid #0abde3;
border-radius: 4px;
}
input[type=submit]{
color: white;
background-color: #0abde3;
}
    </style>
</head>
<body>

            <h1>Reset Password</h1>
            <form th:action="@{/resetPassword}" method="post">
                <div>
                    <label for="password">New Password</label>:
                    <input type="text"
                           name="newPassword"
                           autofocus="autofocus"
                           placeholder="New Password">
                </div>
                <div>
                     <input type="submit"
                            name="login-submit"
                            id="login-submit"
                            value="Submit">
                </div>
            </form>

    <p><a href="/" th:href="@{/}">Back to home page</a></p>
    <a href="#" th:href = "@{/register}"><button>Register</button></a>


</body>
</html>
